ROBO_MODE=test
ROBO_MERCHANT_LOGIN=your_merchant_login
ROBO_PASS1_TEST=your_test_password_1
ROBO_PASS2_TEST=your_test_password_2
ROBO_PASS1_LIVE=your_live_password_1
ROBO_PASS2_LIVE=your_live_password_2
ALLOWED_ORIGIN=http://localhost:5173
ROBO_SUCCESS_URL=http://localhost:5173/payment/success
ROBO_FAIL_URL=http://localhost:5173/payment/fail
TRACK_BASE_URL=http://localhost:5173
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
RESEND_FROM=orders@mail.makinari.art
RESEND_REPLY_TO=orders@makinari.art
ORDERS_NOTIFICATION_EMAIL=orders@makinari.art
CDEK_ORIGIN_POSTAL_CODE=101000
POST_ORIGIN_POSTAL_CODE=101000
ADMIN_STATUS_API_KEY=replace_with_admin_secret
TELEGRAM_BOT_TOKEN=replace_with_bot_token
TELEGRAM_ADMIN_CHAT_IDS=123456789,987654321
TELEGRAM_GROUP_ID=-1001234567890
TELEGRAM_WEBHOOK_SECRET=replace_with_random_webhook_secret
