name: Manual Deploy to GitHub Pages

# Триггер для ручного запуска
on:
  workflow_dispatch:

# Права доступа для отправки в ветку gh-pages
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      # Новый шаг: Настройка Git
      - name: Configure Git User
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"

      - name: Build and Deploy
        run: npm run deploy
        env:
          # Токен не нужен, так как gh-pages будет использовать настроенного Git-пользователя
          # и права доступа (permissions) воркфлоу.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
